<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robot">

  <!-- Parameters -->
  <arg name="name" default="gofa" />
  <xacro:arg name="hardware_interface" default="VelocityJointInterface" />
  <xacro:arg name="gripper_interface" default="" />
  <xacro:arg name="base_translation" default="0" />
  <xacro:arg name="base_orientation" default="0" />
  <xacro:arg name="child" default="flange" />

  <!-- <xacro:property name="robot" value="$(arg robot)" /> -->
  <xacro:property name="hardware_interface" value="$(arg hardware_interface)" />
  <xacro:property name="child" value="$(arg child)" />

  <!-- World fixed joint -->
  <link name="world" />
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find omnicore_description)/Util/materials.xacro" />
  <!-- Import utilities -->
  <xacro:include filename="$(find omnicore_description)/Util/utilities.xacro" />
  <!--Import the gofa macro -->
  <xacro:include filename="$(find omnicore_description)/xacro/Gofa/gofa.urdf.xacro" />

  <xacro:gofa parent="world" hardware_interface="${hardware_interface}" child="${child}"> 
    <origin xyz="0 0 $(arg base_translation)" rpy="0 0 $(arg base_orientation)" />
  </xacro:gofa>

  <!-- Loading Gazebo plugins -->
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
      <!--robotNamespace>/</robotNamespace-->
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
    </plugin>
  </gazebo>

  <gazebo reference="L1">
    <gravity>0</gravity>
  </gazebo>

  <gazebo reference="L2">
    <gravity>0</gravity>
  </gazebo>

  <gazebo reference="L3">
    <gravity>0</gravity>
  </gazebo>

  <gazebo reference="L4">
    <gravity>0</gravity>
  </gazebo>

  <gazebo reference="L5">
    <gravity>0</gravity>
  </gazebo>

  <gazebo reference="L6">
    <gravity>0</gravity>
  </gazebo>

</robot>