<?xml version="1.0" ?>
<robot name="surface" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 72 52 2 --> 

    <xacro:macro name="surface" params="parent *origin">

        <xacro:property name="base_height" value="0.6" />
        <xacro:property name="base_width" value="0.4" />


        <joint name="joint_surface_robot" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}" />
            <child link="base_link_surface" />
        </joint>

        <gazebo reference="base_link_surface">
            <material>Gazebo/Green</material>
        </gazebo>

        <link name="base_link_surface">
            <inertial>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <mass value="1.0"/>
                <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${base_height} ${base_width} 0.1" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${base_height} ${base_width} 0.1" />
                </geometry>
            </collision>
        </link>

    </xacro:macro>
</robot>