<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">


    <!-- Parameters -->
    <xacro:arg name="hardware_interface" default="hardware_interface/PositionJointInterface" />
    <xacro:arg name="gripper_interface"  default="hardware_interface/EffortJointInterface" />
    
    <!-- <xacro:arg name="gripper_interface" default="hardware_interface/PositionJointInterface" /> -->

    <xacro:property name="robot"              value="yumi" />
    <xacro:property name="hardware_interface" value="$(arg hardware_interface)" />
    <xacro:property name="gripper_interface"  value="$(arg gripper_interface)" />


    <!-- World fixed joint -->
    <link name="world" />

    <!-- Robot -->

    <!-- Import Rviz colors -->
    <xacro:include filename="$(find robots_description)/Util/materials.xacro" />

    <!-- Import utilities -->
    <xacro:include filename="$(find robots_description)/Util/utilities.xacro" />

    <!-- Import the table -->
    <xacro:include filename="$(find irim_ss_pkg)/xacro/Extra/table.xacro" />

    <xacro:table parent="world" >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:table>


    <!-- Import the table -->
    <xacro:include filename="$(find irim_ss_pkg)/xacro/Extra/camera_stand.xacro" />

    <xacro:camera_stand parent="base_link_table" >
        <origin xyz="0.0 0.4 0.65" rpy="0 0 0" />
    </xacro:camera_stand>

    <!-- Import the surface -->
    <xacro:include filename="$(find irim_ss_pkg)/xacro/Extra/surface.xacro" />

    <xacro:surface parent="single_yumi_base_link" >
        <origin xyz="-0.03 0.33 0.08" rpy="0 0 0" />
    </xacro:surface>

    <!--Import the single yumi macro -->
    <xacro:include filename="$(find robots_description)/xacro/YumiSingleArm/single_yumi.xacro" />

    <xacro:single_yumi parent="base_link_table" hardware_interface="${hardware_interface}">
        <origin xyz="-0.3 0 0.6" rpy="0 0 -1.57" />
    </xacro:single_yumi>

    <!--Import the yumi servo gripper macro -->
    <xacro:include filename="$(find robots_description)/Grippers/YumiServoGripper/yumi_servo_gripper.xacro" />
    <!-- Gripper -->
    <xacro:yumi_servo_gripper name="gripper" parent="link_7" hardware_interface="${gripper_interface}" fake_execution="'true'">
        <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
    </xacro:yumi_servo_gripper>

    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
        <!--robotNamespace>/</robotNamespace-->
        <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
      </plugin>
    </gazebo>

</robot>