<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="egk_40_complete">

  <xacro:macro name="egk_40_complete" params="prefix parent px py pz rx ry rz">

    <!-- includes -->
    <xacro:include filename="$(find schunk_description)/urdf/egk_40.xacro" />
    <xacro:include filename="$(find schunk_description)/urdf/finger.xacro" />

    <!-- Gripper's main body -->
    <xacro:egk_40 prefix="${prefix}" />

    <!-- Fingers -->
    <xacro:finger prefix="left" parent="finger1" />
    <xacro:finger prefix="right" parent="finger2" />

    <!-- Joint connecting gripper base (gripper_body) to parent -->
    <joint name="parent_to_gripper" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}gripper_body" />
      <origin xyz="${px} ${py} ${pz}" rpy="${rx} ${ry} ${rz}" />
    </joint>

    <!-- Add grasp link frame -->
    <joint name="gripper_body_to_grasp_joint" type="fixed">
      <parent link="${parent}" />
      <child  link="grasp_link" />
      <origin xyz="0.0 0.0 0.133" rpy="0.0 0.0 ${-pi / 2.0}" />
    </joint>
    
    <link name="grasp_link" />
  </xacro:macro>

</robot>