<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="finger">

  <!-- Define a material -->
  <material name="finger_black">
    <color rgba="0.1 0.1 0.1 1" />
  </material>

  <xacro:macro name="finger" params="prefix parent">

    <!-- Finger link -->
    <link name="${prefix}finger_body">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://schunk_description/meshes/fingers/visual/flat_finger.dae"
            scale="0.001 0.001 0.001" />
        </geometry>
        <material name="finger_black" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://schunk_description/meshes/fingers/collision/flat_finger_raw.stl"
            scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.1" />
        <inertia
          ixx="0.001" ixy="0.0" ixz="0.0"
          iyy="0.001" iyz="0.0"
          izz="0.001" />
      </inertial>
    </link>


    <!-- joints: main serial chain -->
    <joint name="${prefix}finger_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}finger_body" />
      <origin xyz="0.0 0.012 0.0" rpy="0 0 0" />
    </joint>

    <gazebo reference="${prefix}finger_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping> 
      <preserveFixedJoint>true</preserveFixedJoint>
   </gazebo>

  </xacro:macro>

</robot>