<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find schunk_description)/urdf/test.xacro'" />

  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen">
    <param name="use_gui" value="true" />
  </node>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="ignore_timestamp" value="true" />
  </node>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find schunk_description)/config/rviz.rviz"/>

</launch>
