<launch>

    <!-- gripper params -->
    <arg name="gripper_name" default="egk_40"/>
    <arg name="gripper_ip"   default="192.168.125.160"/>

    <rosparam command="load" file="$(find schunk_hardware_interface)/config/params.yaml" />
   
    <node pkg="schunk_hardware_interface" name="$(arg gripper_name)" type="schunk_gripper_node" output="screen" respawn="false" ns="schunk">
      <param name="gripper_name" value="$(arg gripper_name)"/> 
      <param name="gripper_ip"   value="$(arg gripper_ip)"  /> 
    </node>
  
</launch>
  