<?xml version="1.0"?>

<launch>

    <arg name="robot" default="gofa_5" doc="Which robot to load"/>
    <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
    <arg name="world_name" default="worlds/empty.world" doc="Gazebo world file"/>
    <arg name="world_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0" doc="Pose to spawn the robot at"/>
    <arg name="initial_joint_positions" default=" -J J1 0 -J J2 0 -J J3 0 -J J4 0 -J J5 0 -J J6 0" doc="Initial joint configuration of the robot"/>
    <arg name="base_translation" default="0" />
    <arg name="base_orientation" default="0" />
    <arg name="controllers" default="VelocityControllers_JointTrajectoryController" doc="Controllers that are activated by default."/>
    <arg name="stopped_controllers" default="VelocityControllers_JointGroupVelocityController" doc="Controllers that are initally loaded, but not started."/>

    <arg name="robot_family" default="gofa" unless="$(eval arg('robot') == 'yumi_single_arm')"/>
    <arg name="robot_family" default="yumi_single_arm" if="$(eval arg('robot') == 'yumi_single_arm')"/>
  
    <!-- Launching ros-control pkg -->
    <include file="$(find omnicore_gazebo)/launch/gazebo.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="robot_family" value="$(arg robot_family)"/>
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="world_pose" value="$(arg world_pose)"/>
        <arg name="initial_joint_positions" value="$(arg initial_joint_positions)"/>
        <arg name="base_translation" value="$(arg base_translation)" />
        <arg name="base_orientation" value="$(arg base_orientation)" />
        <arg name="controllers" value="$(arg controllers)"/>
        <arg name="stopped_controllers" value="$(arg stopped_controllers)"/>    
    </include>

</launch>