<?xml version="1.0"?>

<launch>

    <!-- Options: 'gofa_5' or 'gofa_10' or 'gofa_12' or 'yumi_single_arm'-->
    <arg name="robot" default="gofa_5" doc="Which robot to load"/>
    <arg name="pipeline" default="ompl" /> 


    <param name="robot_description" command="$(find xacro)/xacro '$(find omnicore_description)/xacro/robot.urdf.xacro' name:=$(arg robot) "/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    </node>

    <!-- Launching ROS robot -->
    <include file="$(find omnicore_bringup)/launch/start.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="mode" value="demo"/>
        <arg name="pipeline" value="$(arg pipeline)"/>
        <arg name="controllers" value=""/>
        <arg name="stopped_controllers" value=""/> 
    </include>

</launch>